body {
  color: blue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#cabecera {
  background-color: blue;
  color: white;
}
#container {
  width: 70%;
  padding: 1em;
  text-align: center;
}

#container h1 {
  font-size: 20px;
}
